@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Details For Department</h1>

<form >
    <partial name="DepartmentPartialView/_DeleteDetailsPartialView"></partial>
    <div class="my-3">
        <a asp-action="Edit" asp-controller="Department" asp-route-id="@Model.Id" class="btn btn-outline-warning">Edit</a>
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</form>

