@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Details Employee</h1>
<br />
<br />
<form >
    <partial name="EmployeePartialView/_DeleteDetailsPartialView"></partial>


    <div class="my-3">
        <a asp-action="Edit" asp-controller="Employee" asp-route-id="@Model.Id" class="btn btn-outline-warning">Edit</a>
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>



</form>

